[Unit]
Description=Kusama Validator-{{ hostvars[inventory_hostname].name }}

[Service]
ExecStart=/usr/local/bin/polkadot \
  --name {{ project|default('project') }}-sv-validator-{{ hostvars[inventory_hostname].name }} \
  --validator \
  --port={{ p2p_port }} \
  --rpc-port={{ rpc_port }} \
  --ws-port={{ ws_port }} \
  {% if hostvars[inventory_hostname].polkadot_additional_common_flags is defined and hostvars[inventory_hostname].polkadot_additional_common_flags|length %}
  {{ hostvars[inventory_hostname].polkadot_additional_common_flags }} \
  {% endif %}
  {% if hostvars[inventory_hostname].polkadot_additional_validator_flags is defined and hostvars[inventory_hostname].polkadot_additional_validator_flags|length %}
  {{ hostvars[inventory_hostname].polkadot_additional_validator_flags }} \
  {% endif %}
  {% if hostvars[inventory_hostname].loggingFilter is defined and hostvars[inventory_hostname].loggingFilter|length %}
  -l{{ hostvars[inventory_hostname].loggingFilter }} \
  {% endif %}
  --chain={{ chain }} \
  --pruning=archive \
  --execution=NativeElseWasm \
  --wasm-execution=Compiled \
  {% if hostvars[inventory_hostname].base_path is defined and hostvars[inventory_hostname].base_path|length %}
  --base-path '{{ hostvars[inventory_hostname].base_path }}/{{ chain }}/{{ hostvars[inventory_hostname].name }}' \
  {% endif %}
  {% if hostvars[inventory_hostname].telemetryUrl is defined and hostvars[inventory_hostname].telemetryUrl|length %}
  --telemetry-url '{{ hostvars[inventory_hostname].telemetryUrl }} 1'
  {% else %}
  --no-telemetry
  {% endif %}

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
